<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
    <h2>Create a new listings</h2>
      <form method="post" action="/listings"  class="needs-validation"  novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
           <input type="text" class="form-control" name="listing[title]" placeholder="Add a catchy title" required>
           <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
        <textarea type="text" class="form-control" name="listing[description]"  placeholder="Enter description" required></textarea>
         <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
           <label for="image" class="form-label">Upload Listing Image </label>
        <input type="file" class="form-control" name="listing[image]" required>
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
           <label for="price" class="form-label">Price:</label>
        <input class="form-control" name="listing[price]" placeholder="1200" required>
        <div class="invalid-feedback">Please enter a valid price</div>
        </div>
       
        <div class="mb-3 col-md-8">
         <label for="country" class="form-label">country:</label>
        <input type="text" class="form-control" name="listing[country]" placeholder="India" required>
        <div class="invalid-feedback">Please enter a valid country</div>
        </div>
        </div>
        <div class="mb-3 ">
         <label for="location" class="form-label">Location:</label>
        <input type="text" class="form-control" name="listing[location]" placeholder="Mahabaleshwar" required>
         <div class="invalid-feedback">Please enter the location</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn" >ADD</button>
        <br><br>
      </form>
      </div>
    </div>
</body>
